article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.atualizar {
  background: #EFF9EE;
  height: 100vh;
}

.Modal-atualizar-form {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  opacity: 1;

  height: auto;
  width: 40em;
  padding: .5em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Modal-atualizar-form label {
  display: flex;
  flex-direction: column;
  align-content: center;

  color: #054f31;
  width: 40%;

  padding: 1em;
}
.Modal-atualizar-form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 30px;

  width: 100%;
}

.Modal-atualizar-form label > input {
  outline: none;
  color: #054f31;

  box-shadow: 0px 5px 15px rgba(0, 0, 13, 0.15);
  background: #f6fef9 0% 0% no-repeat padding-box;
  border-radius: 50px;
  border: none;
  padding: 8px 5px 8px 20px;
}